pandas==2.3.3
scikit-learn==1.7.2
requests==2.32.5
bs4==0.0.2
matplotlib==3.10.6
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0


# pip install torch==2.6.0 torchvision==0.21.0 torchaudio==2.6.0 --index-url https://download.pytorch.org/whl/cu124